<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Service",
    "serviceType": "Assistance informatique à domicile",
    "provider": {
      "@type": "LocalBusiness",
      "name": "Ordi Service",
      "telephone": "( 33 6) 12 12 23 03",
      "image": "https://ordi-service.fr/logo.svg",
      "priceRange": "€€",
      "openingHours": "Mo-Sa 9:00-19:00",
      "areaServed":{
      "@type": "AdministrativeArea",
      "name": "Alpes-de-Haute-Provence"
      },
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Mézel",
        "streetAddress": "7, rue des Fenils",
        "postalCode": "04270"
      }
    }
  }
</script>
